.item{
  display: flex;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  justify-items: end;
  background-size: cover;

}
.blockTitle{
  padding: 5px 10px;
  background-color:#f09ec4;
  opacity: 0.9;
  margin-block: auto 30px;
}
.title{
  color: white;
  font-size: xx-large;

}
