li {
  list-style: none;
  position: relative;
}
li:hover {
  content: "";
  display: block;
  position: absolute;
  bottom: -4px;
  width: 100%;
  overflow: hidden;
  height: 3px;
  background-color: #391113;
  bottom: 0px;
}
a ::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -4px;
  width: 100%;
  overflow: hidden;
  height: 3px;
  background-color: #391113;
  bottom: 0px;
}
