* {
  box-sizing: border-box;

}
.menuContainer {
  display: flex;
  width: 42%;
  justify-content: start;
}
.menu {
  justify-content: center;
  display: flex;
  color: #391113;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  transition: none;
  gap:10px;

  & a:hover {
    color: #a77e99;

  }

}
.burgerBtn {
  background: none;
  display: none;
}
.menuItem {
  align-self: center;
  }


@media(max-width: 991px){
  .burgerBtn {
    display: block;
  }
  .menu {
    display: none;
  }

}

