ul {
  display: flex;
}

.menu {
  display: inline-block;
  padding: 3px 0;
  opacity: 1!important;
  position: relative;
  color: #391113;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  transition: none;
  width: 40%;
}
.burgerMenu {
  display: none !important;
}
@media (min-width: 0px) and (max-width: 600px) {
  .burgerMenu {
    display: flex !important;
  }
  .menu {
    display: none !important;
  }
}

@media (min-width: 600px) and (max-width: 900px){
  .burgerMenu {
    display: flex !important;
  }
  .menu{
    display: none !important;
  }
}

@media (min-width: 900px) {
}

@media (min-width: 1200px) {
  
}

@media (min-width: 1536px) {
  
}


