*{
 box-sizing: border-box;
}

.container{
 display: grid;
 width: 90%;
 margin: 20px auto;
}

.title{
 color: white;
 font-size: xx-large;

}
@media (max-width: 480px){
 .container{
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(1, 1fr);
  gap: 5px;
  grid-template-areas:
  'category1'
  'category2'
  'category3'
  'category4'
  'category5'
  'category6';
  width: 90%;
  height: 300vw;
 }
}

@media (min-width: 481px) and (max-width: 992px){
 .container{
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
'category1 category2'
'category3 category4'
'category5 category6';
  height: 80vw;
  gap: 8px;
 }
 }
@media (min-width: 993px){
 .container{
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  //margin-inline: 50px;
  display: grid;
  width: 90%;
  height: 80vh;
  margin-bottom: 20px;
  grid-template-areas:
'category1 category3 category5'
'category1 category4 category5'
'category2 category4 category6';
  grid-gap: 20px;
 }

}
