.searchList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 20px auto;
}

.searchContainer {
  width: 350px;
  margin: 20px;

}
@media (max-width: 900px) and (min-width: 544px) {
  .searchContainer{width: 300px;}
}
@media (max-width: 543px) {
  .searchContainer{width: 230px;}
}
