.slider {
  position: relative;
  width: 90%;
  margin: auto;
  margin-bottom: 100px;
}

.slider_header {
  padding: 80px 25px;
}

.title {
  margin-bottom: 18px;
  color: #391113;
  font-weight: 300;
  font-size: 63px;
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
}

.slider_header_slogan {
  color: #111;
  font-size: 1.2em;
  font-family: 'Asap', sans-serif;
}

.slider_section_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider_cards_track_container {
  display: flex;
  margin: 0 20px;
  overflow: hidden;
  overflow: scroll;
  overflow-y: visible;
  width: 960px;
}

.slider_cards_track {
  display: flex;
  // flex-shrink: 0;
  width: 800px;

  padding-bottom: 100px;

  // scroll-snap-type: x mandatory;
  cursor: grab;
}

.btn_next,
.btn_prev {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  width: 54px;
  height: 54px;
  font-size: 40px;
  background: none;
  border: 3px solid rgba(57, 17, 19, 0.2);
  cursor: pointer;
  &:hover {
    border: 3px solid #391113;
  }
}

// .btn_disabled {
//   opacity: 0.25;
//   pointer-events: none;
// }

.slider_cards_track_container::-webkit-scrollbar {
  height: 11px; /* высота для горизонтального скролла */
}

.slider_cards_track_container::-webkit-scrollbar-track {
  background: rgb(173, 144, 144); /* цвет зоны отслеживания */
}

.slider_cards_track_container::-webkit-scrollbar-thumb {
  width: 40px;
  background-color: #5a3134; /* цвет бегунка */
}

@media (min-width: 0px) and (max-width: 600px) {
  .slider {
    width: 100%;
  }
  .slider_header_slogan {
    display: none;
  }
  h2 {
    font-size: 35px;
  }
  //.slider_cards_track {
  //  width: 200px;
  //}
  //.btn_next,
  //.btn_prev {
  //  width: 54px;
  //  height: 54px;
  //  font-size: 40px;
  //  border: none;
  //  &:hover {
  //    border: none;
  //  }
  //}
  .slider_header {
    padding: 30px 15px;
  }
}
@media (max-width: 1220px) and (min-width: 940px) {
  .slider_cards_track_container {
    width: 720px;
  }
}

@media (max-width: 939px) and (min-width: 700px) {
  .slider_cards_track_container {
    width: 480px;
  }
}

@media (max-width: 699px) {
  .slider_cards_track_container {
    width: 240px;
    margin: 0 10px;
  }
  .btn_next,
  .btn_prev {
    width: 54px;
    height: 54px;
    font-size: 40px;
    border: none;
    &:hover {
      border: none;
    }
  }
}
@media (max-width: 425px) {
  .slider_cards_track_container{
    margin: 0 auto;
  }
  .btn_next,
  .btn_prev {
    width: 40px;
  }
}



