.container {
  width: 600px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 40vh;
  justify-content: flex-start;

}
//.btnAdd {
//  background: none;
//  color: #391113;
//  font-family: Barlow Condensed;
//  font-size: 28px;
//  font-weight: 300;
//}
@media (max-width: 900px) and (min-width: 600px)  {
  .container {
    width: 75%;
    }
  
}
@media (max-width: 599px) {
  .container {
    width: 90%;
  }

}