.product_item {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  width: 400px;
  margin-top: 50px;
}

.product_item_slider {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  width: 600px;
  margin-top: 50px;
  // scroll-snap-align: center;
}

.product_item_img {
  width: 40%;
}

.product_item_name {
  margin-top: 80px;
  color: #391113;
  font-weight: 300;
  font-size: 20px;
  font-family: 'Barlow Condensed', sans-serif;
}
.product_item_price {
  margin: 20px 0px;
  color: #909090;
  font-size: 16px;
  font-family: 'Asap', sans-serif;
}

// @media (max-width: 0px) {
//   .product_item_slider {
//     width: 20%;
//   }
// }
// @media (max-width: 600px) {
//   .product_item_slider {
//     width: 300px;
//   }
// }

// @media (max-width: 900px) {
//   .product_item_slider {
//     width: 400px;
//   }
// }

// @media (max-width: 1200px) {
//   .product_item_slider {
//     width: 500px;
//   }
// }

// @media (max-width: 1536px) {
//   .product_item_slider {
//     width: 600px;
//   }
// }
