.orderForm {
    min-width: 360px;
    flex-wrap: wrap;
}

.title {
    color: #391113;
}

.checkoutBtn {
    box-sizing: border-box;
    padding: 12px;
    margin-bottom: 10px;
}

.checkoutBtn:disabled {
    opacity: .5;
}