.searchForm {
  border: 2px solid #d8cbc0;
  display: flex;
  align-items: flex-start;
}
.searchInput {
  color:#391113;
  font-family: futura-book,Helvetica,sans-serif;
  background: none;
  padding-left: 6px;
}
//input#searchInput{
//  opacity: 1;
//}
.searchInput::placeholder{
  color:#d8cbc0;
  //padding-left: 6px;
  padding-bottom: 3px;
  font-family: futura-book,Helvetica,sans-serif;
}

.btnSearch {
  background: white;
}
.searchForm {
  border: 2px solid #d8cbc0;
  display: flex;
  align-items: flex-start;
}
.searchInput {
  color:#391113;
  font-family: futura-book,Helvetica,sans-serif;
  background: white;
  padding-left: 6px;


}
.searchInput::placeholder{
  color:#d8cbc0;
  //padding-left: 6px;
  padding-bottom: 3px;
  font-family: futura-book,Helvetica,sans-serif;
}

.btnSearch {
  background: none;
}