
    .menuList {
      display: flex;
      position: absolute;
      font-size: 22px;
      line-height: 22px;
      font-weight: 400;
      //top: -100%;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: space-between;
      z-index: 1;
      height: calc(100vh - 116px);
      padding-top: 20px;
      padding-bottom: 20px;
      padding-inline: 20px;
      background: #fce5f2;
      transition: all 2s cubic-bezier(.29,.63,.44,1)
      //transform: translate(42px, 18px);

    }
    .menu {
      padding-bottom: 20px;
      padding-inline: 20px;
      background: #fce5f2;
      display: flex;
      flex-direction: column;

    }
      .menuItem {
        padding-block: 15px;
        position: relative;
        width: 100%;

      }
    .menuItem::after {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    width: 100%;
    background: #f09ec4;
    bottom: -6px;

    }
    .btnMobAccount{
      height: 120px;
      margin-top: 50px;
      position: relative;
    }
    .btnAccount {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
    width: 100%;
    background: #391113;
    color: #f09ec4;
    height: 100%;
    align-self: end;
      //height: 100%;
     }
    .icon {
   width: 10%;
    }
    .textAccount {
    font-size: 22px;
    line-height: 22px;
    font-weight: 400;
    color: #f09ec4 ;
    }
    .imgAccount {
      //align-items: center;
      //justify-content: center;
      //display: flex;
      //gap: 10px;
      //margin-top: 50px;
      //width: 100%;
      //background: #391113;
      //color: #f09ec4;
      //height: 120px;
      //align-self: end;
      //align-items: center;
      //justify-content: center;
      //display: flex;
      //gap: 10px;
      //width: 100%;
      //height: 100%;
      //background: #391113
    }
    .btnLogin {
      background: none;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      row-gap: 5px;
    }

@media (max-width: 991px) {
  .menuNone {
    //position: absolute;
    //top: -100%;
    //left: 0;
    display: none;
    //height: 100%;
    //width: 100%;
    //align-items: center;
    //gap: 2px;

  }

  .containerMenuLogIn {
    position: absolute;
    //top: 0;
    //left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .7);
align-items: center;
    display: flex;
    justify-content: center;
    transition: all 1s cubic-bezier(.29,.63,.44,1)
  }
  .menuLogIn {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .btnClose {
    position: absolute;
    top: 40px;
    right: 40px;
    background: none;
    width: 10%;
  }
  .btnLoginMenu {

    background:#fce5f2;
    flex-grow: 1;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 5px solid #391113;

  }

  .iconAdmin{

  }
}
@media (max-width: 599px) {
  .menuLogIn {
    flex-direction: column;
    height: 80%;
    max-width: 150px
  }
  .btnClose {
width: 15%;
    top: 10px;
    right: 10px;

  }
}
@media (min-width: 992px) {
  .menuList {
    display:none;
  }
}



