.card__container {
  gap: 60px;
  background: linear-gradient(rgba(174, 131, 58, 0), rgba(174, 131, 58, .05));
  background-color: #fff;
}
.card__image {
  padding: 0 !important;
  .image {
    aspect-ratio: 1 / 1;
  }
}
.card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  width: 100%;
  padding: 0 !important;
  text-align: left;
  .title {
    margin: 0;
    color: #391113;
    font-weight: 600;
    font-size: 48px;
    font-family: 'Asap', sans-serif;
    line-height: 1.2;
    text-transform: capitalize;
  }
  .price {
    margin-top: 10px;
    color: #494949;
    font-weight: lighter;
    font-size: 26px;
    font-family: 'Asap', sans-serif;
    line-height: 1.2;
  }
}
.parameters {
  svg {
    color: #391113;
    font-size: 26px;
    cursor: pointer;
  }
}
.old__price{
  text-decoration: line-through !important;
}